@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

$font-1: "Poppins", sans-serif;

$color-1: #61dafb;
$color-2: #f1f1f1;
$color-3: #333;
$color-4: rgb(32, 35, 42);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0.4rem auto;
  max-width: 1296px;
  font-family: $font-1;
  color: $color-3;
  background-color: $color-2;
  transition: all 0.2s ease-in-out;
}
li {
  list-style-type: none;
  text-decoration: none;
  color: $color-3;
  cursor: pointer;
}
li:visited {
  color: $color-3;
}
.App.dark {
  color: $color-2;
  background-color: $color-3;
}
.App.light {
  color: $color-3;
  background-color: $color-2;
}
